NODE_ENV="development"
# Node Environment set to production, hides debugging messages mainly

# API_SERVER_PROTOCOL
# If serving behind a reverse proxy you can leave this as http and use the default port
# default: http
# options: http, https
# API_SERVER_PROTOCOL=http
API_SERVER_PORT=9000

# FRONTEND_URL
# JSON array of URLs for Pennywise client/frontend origins (used in cors)
# default: ["http://localhost:3000"]
FRONTEND_URLS=["http://localhost:3000"]


# API_EXTERNAL_URL
# External URL for the frontend to access for the Pennywise Reborn API
# default: https://localhost:9000/api
# API_EXTERNAL_URL=https://money.example.com/api

# DB_URL
# Specifies the database url to connect to. 
DB_URL="postgresql://username:password@postgres:5432/database"